# Node
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Go
backend/server.exe
backend/bin/
backend/.env

# Build
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
